- example = ''

%section
  %h3.heading-small= label

  - model = ExampleModel.new
  = form_for(model) do |f|
    - example = capture { eval(code) }

    .example
      = example

  code:
  %pre
    %code.language-ruby
      = preserve do
        :escaped
          #{code}

  outputs:
  %pre
    %code.language-markup
      = example.gsub('><',">\n<")

